# Ignore everything by default
*

# Whitelist README
!README.md

# Whitelist our specific configuration files
!.gitignore
!config.fish
!fish_plugins

# Whitelist fisher function
!functions/
functions/*
!functions/fisher.fish
